<header class="page-header">
  <h1>{{ post.title }}</h1>
  <p>by {{ post.author.username }}</p>
  <p>{{ post.body }}</p>
  <p><a href="#">Comment</a></p>
</header>


<ul>
	{{#each post.comments as |comment|}}
	<li>
		<p>{{comment.author.username}} said:</p>
		<p>{{comment.body}}</p>
		<p><a href="#">Comment</a></p>
	</li>
	{{/each}}
</ul>